.sponsorship_tiers {
  background-color: black !important;
  padding: 2px;
}
.sponsorship_tiers_heading,
.sponsorship_tiers_description {
  text-align: center;
  padding: 10px;
}
.sponsorship_tiers_heading {
  font-size: large;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sponsorship_tiers_back {
  height: 40vh;
  width: 100%;
  top: 60vh;
  background-color: aqua;
  position: fixed;
  z-index: -1;
}
.sponsorship_tiers_cont {
  height: 768px;
}
.sponsorship_tiers_text {
  background-color: #333;
  color: aliceblue;
  padding: 5px;
}

.sponsorship_tiers_text2 {
  background-color: #333;
  height: 34%;
  width: 82%;
  right: 0px;
  color: aliceblue;
  padding: 5px;
}
.sponsorship_tiers_img_right {
  flex: 1;
  height:40vh;
  float:right;
}

.sponsorship_tiers_img_left {
  flex: 1;
  height:40vh;
  float:left;
}

.sponsorship_tiers_parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .sponsorship_tiers_div1 { grid-area: 1 / 1 / 2 / 4; }
  .sponsorship_tiers_div2 { grid-area: 1 / 4 / 2 / 5; }
  .sponsorship_tiers_div3 { grid-area: 2 / 2 / 3 / 5; }
  .sponsorship_tiers_div4 { grid-area: 2 / 1 / 3 / 2; }
  .sponsorship_tiers_div5 { grid-area: 3 / 1 / 4 / 4; }
  .sponsorship_tiers_div6 { grid-area: 3 / 4 / 4 / 5; }